@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #F9F9F9;

    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 90s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }

  
  
  body {

    font-family: 'DM Sans', sans-serif;
    color: #353535;
    line-height: 27.2px;
    font-size: 16.5px;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    text-decoration: none;
  }
  


  .container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
nav{
    position: fixed;
    background-color: transparent;
    z-index: 99999999999999999999999999;

}

  .navbar,
  .navbar > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }



  @media screen and (max-width:1200px) {
    .container {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
      }
    
  }
  @media (max-width: 768px) {
    .navbar,
  .navbar > .container {
      display: block;
    }
    
  }
  
  .navbar {
  
    background-color: transparent;
    padding: 1rem 1.15rem;
 
    /*
    |-----------------------------------
    | Start navbar logo or brand etc..
    |-----------------------------------
    */
    /*
    |-----------------------------------
    | Start navbar menu
    |-----------------------------------
    */
  }


  ::-webkit-scrollbar {
    width: 1px; 
     background-color: rgba(0,0,0,0);
    -webkit-border-radius: 80px;
  }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 80px;
  }
  ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 80px;
  }


  .navscroll{
    background-color: white !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-bottom: 1px solid #eceef3;
  }
  @media (min-width: 576px) {
    .navbar .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .navbar .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .navbar .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .navbar .container {
      max-width: 1140px;
    }
  }
  .navbar .navbar-header {
    display: flex;
    align-items: center;
  }
  @media (max-width: 768px) {
    .navbar .navbar-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  .navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
  }
  @media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
      display: block;
    }
    
  }
  .navbar .navbar-header .navbar-toggler span {
    height: 2px;
    width: 22px;
    background-color: #929aad;
    display: block;
  }
  .navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  .navbar .navbar-header > a {
    font-weight: 500;
    color: #3c4250;
  }
  .navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    /* flex-grow: 1; */
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu {
      display: none;
      text-align: center;
    }
  }
  .navbar .navbar-menu.active {
    display: flex !important;
  }
  .navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
      width: 100%;
      display: block;
      border-top: 1px solid #EEE;
      margin-top: 1rem;
    }
  }
  .navbar .navbar-menu .navbar-nav > li > a {
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-menu .navbar-nav > li > a:hover {
    color: #66f;
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav > li > a {
      border-bottom: 1px solid #eceef3;
    }
  }
  .navbar .navbar-menu .navbar-nav > li.active a {
    color: #66f;
  }
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-radius: 0.75rem;
    display: none;
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
      position: relative;
      box-shadow: none;
    }
  }
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
  }
  /* .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
    display: block !important;
  } */
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    -webkit-box-shadow: 2px -3px 20px rgb(0 0 0 / 4%);
    box-shadow: 2px -3px 20px rgb(0 0 0 / 4%);
  }
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show li{

  width: 50%;
  padding: 3px;
  font-size: 14px;
  }
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show li a{

    font-size: 15px;
    display: flex;

    align-items: center;
    }

    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show li a{
        padding: 13px;
        -webkit-font-smoothing: antialiased;
          }

        .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show li a:hover{
            background-color: #fafafa;
    border-radius: 5px;
    color: #0d60d8;
         
      
              }

    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show li a img{
        width: 30px;
        object-fit: cover;
        margin-right: 6px;
        }

  .navbar .navbar-menu .navbar-nav .dropdown > .separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
  }
  .navbar .navbar-dropdown {
    position: relative;
  }
  
  .navbar .navbar-header > a span {
    color: #66f;
  }
  
  .navbar .navbar-header h4 {
    font-weight: 500;
    font-size: 1.25rem;
  }
  @media (max-width: 768px) {
    .navbar .navbar-header h4 {
      font-size: 1.05rem;
    }
  }

  .navbar-nav a {
    font-family: DM Sans;
font-size: 17px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
  }

  .loginbtn{
    padding: 10px;
    background-color: transparent;
    border: 1px solid 
    #BBBBBB;
    border-radius: 10px;
    margin-right: 10px;


  }

  .loginbtn a{
    color: black;
    font-family: DM Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 10px;
  }

  .signupbtn{
    padding: 10px;
    background: #0C1825;
    border: 1px solid #0C1825;
    
    border-radius: 10px;
  }

  .signupbtn a{
    font-family: DM Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: white;
padding: 10px;
  }

  .supbutton{
    display: flex;
  }

  .sectionone{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-stack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
   
    justify-content: center;
  }

  .floatingobjects{
    position: absolute;
  }

  .twocolumnflex{
    width: 100%;
    height: 100vh;
    display: flex;

  }

  .image-stack__item--bottom {
    position: absolute;
    right: 10;
    top: 0;
    bottom: 3;
    width: fit-content; 
    z-index: -1;
    height: 510px;
  }
  
  .image-stack__item--top {
    padding-top: 20px;
    padding-right: 25%; 
    width: fit-content; 
    height: 490px;
  }

  .columnone{
    padding: 3px;
    margin-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .columntwo{
    padding: 6px;
 margin-left: 50px;
    width: 100%;
    z-index: -88;
    background-image: url('images/Rectangle\ 1.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .bwti{
    /* font-family: U8;
    font-family: 'Arvo', serif; */
font-size: 65px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0em;
text-align: left;
color: #0c1825;

  }

  .investtext{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #464F59;
  }

  .investbutton .signupbtn a, .investbutton, .investbutton .signupbtn {
    width: fit-content;
    margin-top: 1px;
    font-family: DM Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding-top: 13px;
padding-bottom: 13px;

  }

  .sectionone .supbutton .loginbtn {
    padding: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  .sectionone .supbutton .loginbtn a{
    display: flex;
    align-items: center;
    font-family: DM Sans;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

  }
  
  .sectionone .supbutton .loginbtn a svg{
margin-right: 7px;
  }

.floatingobjects{
    display: flex;
    flex-direction: column;
}
  .iconone{
    margin-right: 107px;
    position: relative;
    left: -17%;
    top: -21px;
  }

  .rent{
    margin-right: 107px;
    width: 280px;
    object-fit: contain;
    position: relative;
    top: 76px;
    left: -192px;

  }

  
.dot{
    position: relative;
    top: 116px;
    left: -61px;
}

.circle{
    position: relative;
    top: -130px;
    left: 281px;
}

  .invest{
    margin-right: 107px;
    width: 280px;
    object-fit: contain;
    position: relative;
    top: 51px;
    right: -192px;

  }

  .workingclass{
    margin-top: 100px;
    padding: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
.svgside{
    margin-right: 20px;
}

.svgside img{
    width: 120px!important;
    height: auto!important;

}
  .sidea{

    margin: 8px ;
    font-size: 33px;
    line-height: 41.21px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
margin-right: 10px;
color: 
#0C1825;
  }


  .sideb{
    font-family: DM Sans;
    font-size: 15.5px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #464F59;
margin: 8px ;

  }

  .sidec{
    margin: 8px ;
    font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #287AF2;
  }


  .buildsavings{

    display: flex;
    width: 100%;
  }

  .saverofthemonth{
    margin-top: 90px;
    height: 70vh;
    width: 100%;
   
  }

  .saverflex{
    width: 100%;
    height: 100%;
    display: flex;

  }

  .som{
color: white;
font-size: 50px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;

  }
  

  .meet{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: inter;
font-size: 15px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: white;

  }

  .meet svg{
    margin-right: 10px;
  }

  .saveone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: 
    #0D60D8;
    padding:124px;
    padding-top: 80px;
  }
.savetext{
    margin-top: 10px;
    color: white;
    font-family: inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 20px;

}
  .savetwo{
    width: 90%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 0.5s linear;
    background-image: url('https://images.unsplash.com/photo-1647616927583-1d44a79a38a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
  }

  .savetwo:hover{
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1647616907232-c47755e74ed1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
  }

  .buildtext{
    width: 50%;
   padding: 20px;
   height: fit-content;
   position: sticky;
   top: 9%;
  }

  .buildingblock{
    width: 100%;
    padding: 20px;
    overflow-y: hidden;
    overflow-y: hidden;
  }

  .buildsavings .buildtext .bwti{
    font-size: 40px;
    
    line-height: 48.08px;

font-weight: 600;

letter-spacing: 0em;
text-align: left;

  }

  .buildtext .investmenttext {
    margin: 10px;
    font-family: DM Sans;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

  }

  .dropdown-toggler{
    cursor: pointer;
  }
  .buildingblock{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
  }

  .box{
 display: flex;
 flex-direction: column;
    height: 100%;
    border-radius: 15px;
    padding: 35px;
    background-color: #f9f9f9;
    width: 100%;
    transition: 0.6s;
    cursor: pointer;
 
  }


  .bx1:hover, .bx2:hover{
    background-color: 
    #E0EFFF;


     }

     .bx3:hover{
     
        background-color: #E4FFF1;
     }

     .bx4:hover{
        background-color: 
        #FDE7F5;
     }

  .boxlink{
    margin-top: auto;
    padding-top: 14px;
    display: flex;
    align-items: center;
    font-family: DM Sans;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

  }

  .boxlink svg{
    margin-right: 9px;
  }

  .boxtitle{
    font-family: 'inter';
    font-size: 18px;
    line-height: 25.18px;
    color: #0c1825;
font-weight: 600;
margin-top: 10px;
letter-spacing: 0em;
text-align: left;

  }

  .boxtext{
    margin-top: 10px;
    font-family: inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 24px;


  }


  .accessinvestment{
    margin-top: 94px;
    display: flex;
    width: 100%;
  }

  .accessone{
    width: 70%;
  } 
  .interest{
    background-color: #f7f0ff;
    margin-bottom: 20px;
    color: #7913E5;
    font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

    padding: 10px;
 
    width: fit-content;
    border-radius: 10px;
  }
  .accesstwo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .accessone{
    padding-right: 90px;
    display: flex;
    margin-left: auto;

  }

  .fourmillionboys{
    width: 100%;
    height: 100%;
    display: flex;
align-items: center;
    height: fit-content;
    
  }

  .bwits{
    font-size: 38px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C1825;
      }

      .sax{
        margin-top: 6px;
      }

      .investmenttexts{
        font-family: DM Sans;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: 
#464F59;

      }

  .fourone{
    width: 100%;
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--gap);
    width: 100%;
    min-height: 60vh;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    background-color: #fff;
  }
  .fourtwo{
    width: 75%;
    padding: 10px;
    padding-top: 0px;
    margin-left: 20px;
    position: sticky;
    top: 10%;
  }

  .fourtwo .buildtext{
    width: 100%;
  }


  .marquee {
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    gap: var(--gap);
    -webkit-mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1)90%,
      hsl(0 0% 0% / 0)
    );
            mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 85%,
      hsl(0 0% 0% / 0)
    );
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    -webkit-animation: scroll-x var(--duration) linear infinite;
            animation: scroll-x var(--duration) linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
    }
  }
  
  .marquee--vertical {
    --mask-direction: to bottom;
  }
  
  .marquee--vertical,
  .marquee--vertical .marquee__group {
    flex-direction: column;
  }
  
  .marquee--vertical .marquee__group {
    -webkit-animation-name: scroll-y;
            animation-name: scroll-y;
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    -webkit-animation-delay: -4s;
            animation-delay: -3s;
  }
  
  @-webkit-keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  @-webkit-keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
  
  @keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
  
  /* Element styles */
  .marquee svg {
    display: grid;
    place-items: center;
    width: var(--size);
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    padding: calc(var(--size) / 10);
    border-radius: 0.5rem;
  }

  .marquee .boxma{
    display: flex;
    place-items: center;
    width: 350px;
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    padding: 10px;
    border-radius: 0.5rem;
  }
  
  .marquee--vertical svg {
    aspect-ratio: 1;
    width: calc(var(--size) / 1.5);
    padding: calc(var(--size) / 6);
  }

  .marquee--vertical .boxma{
    aspect-ratio: 1;
    flex-direction: column;
    width: calc(400px/ 1.5);
    padding: 10px;
  }
  
  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 47vw;
    padding: 10px;
    border-radius: 10px;
  }
  
  .wrapper--vertical {
    flex-direction: row;
    height: 100vh;
  }
  
  /* Toggle direction button */
  .toggle {
    
    --size: 3rem;
    position: relative;
    position: inherit;
    top: 1rem;
    left: 1rem;
    width: var(--size);
    height: var(--size);
    font: inherit;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    color: inherit;
    background-color: transparent;
    z-index: 1;
  }
  
  .toggle:focus-visible {
    box-shadow: 0 0 0 2px var(--color-text);
  }
  
  /* .toggle span {
 
    position: relative;
    display: inline-block;
    top: 50%;
    left: calc(100% + 0.4em);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    transform: translateY(-50%);
    -webkit-animation: fade 400ms 4s ease-out forwards;
            animation: fade 400ms 4s ease-out forwards;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  } */
  
  .toggle svg {
    border-radius: 50%;
    color: inherit;
    background-color: var(--color-bg-accent);
    padding: 10px;
    --size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    fill: currentcolor;
    transform: translate(-50%, -50%);
    transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .toggle--vertical svg {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  
  @-webkit-keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

 
  .extra{
    z-index: -99999;
    position: relative;
    display: flex;
    margin-left: auto;
  }

  .circles {
    position: absolute;
    margin-top: 106px;
    left: -40px;
}
svg.dots.investIcon{
    position: absolute;
    margin-top: 5px;
    left: 320px
}
  .accessone img{
    max-width: 220px;
    display: flex;
    margin-left: auto;
    object-fit: cover;
  }


  .bigtxt{
color: #0C1825;
font-size: 60px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;

  }

  .interesttext{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: DM Sans;
font-size: 17px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

  }

  .boxma{
    display: flex;
  width: 100%;
  }
  .boxma .boximage{
    width: 200px;
    height: fit-content;
  }

  .boxma img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .testimonialtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;


  }

  .testimonialhead{
    color: #464F59;
    font-family: DM Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .testimonialbody{
    margin-top: 10px;
    font-family: inter;
    font-family: DM Sans;
font-size: 13px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #5e5b5b;
  }

  .brands {
    position: relative;
    overflow: hidden;
    height: 3.5rem;
}

.brands:hover .brands__wrapper,
.brands:hover .brands__preWrapper {
    animation-play-state: paused;
}

.brands__preWrapper {
    position: relative;
    width: 100%;
    height: 8.5rem;
    transform: translateX(0%);
    animation: scroll1 50s linear infinite;
    animation-delay: 2s;
    animation-direction: alternate;
    will-change: transform;
}

.brands__wrapper {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0%) translateZ(0);
    animation: scroll2 60s linear infinite;
    animation-delay: 1.4s;
    animation-direction: alternate;
    will-change: transform;
}

.brands__wrapper>a,
.brands__wrapper>img {
    position: relative;
    display: inline-block;
    margin: 0 1.2rem;
    vertical-align: middle;
}

.brands__wrapper>a img {
    max-width: 15rem;
    max-height: 8.5rem;
}

@keyframes scroll1 {
    0% {
        transform: translateX(-0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%) translateZ(0);
    }

    100% {
        transform: translateX(-100%) translateZ(0);
    }
}

.asfeatured{
  display: flex;
 

}
.featurelogo{
  width: 100%;
  padding: 20px;
}

.featuretext{
  color: #0C1825;
font-size: 40px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
padding: 20px;
  width: 40%;
}

  @media screen and (max-width:1200px) {
    .buildsavings{
        flex-direction: column;
        overflow: hidden;
    }

    .asfeatured{
      flex-direction: column;
    }

    .featuretext{
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
font-size: 50px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;


    }
    .marquee--vertical .boxma {
      aspect-ratio: auto;
      flex-direction: row;
      width: 100%;
      padding: 0px;
  }

    .fourmillionboys{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .wrapper{
      max-width: 100vw;
    }
    .wrapper--vertical {
      flex-direction: row;
      height: 64vh;
  }

  .bwits{
    text-align: center;
  }
  .investmenttexts{
    text-align: center;
  }
  .fourtwo{
    margin: 0;
  }

    .savetwo{
        height: 40vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .fourtwo{
      width: 100%;
      position: relative;
    }

    .som{
        text-align: center;
    }

    .savetext{
        text-align: center;
    }

    .meet{
        align-items: center;
        justify-content: center;
    }
    .savetwo:hover{
        width: 100%;
    }

    .saverofthemonth{
        height: 100%;
    }
    .saveflex{
        height: 100%;
    }
    .buildsavings .buildtext .bwti{
        text-align: center;
        font-size: 32px;
        line-height: 38px;
    }
    .saverflex{
        flex-direction: column;
    }

    .saverflex div{
        width: 100%;
    }
    .bigtxt{
        text-align: center;
    }
    .interesttext{
        text-align: center;
    }
    .extra {
        z-index: -99999;
        position: absolute;
        display: flex;
        left: 33%;
        margin-left: auto;
    }
    .accesstwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .accessinvestment{
        flex-direction: column;
    }

    .accessone img {
        max-width: 220px;
        display: flex;
        margin: auto;
        object-fit: cover;
    }

    .accessone {
        padding-right: 0;
        display: flex;
        margin: auto;
        width: 100%;
    }
.bpoint{
    margin-top: 90px;
    display: none;
}
.image-stack {
left: -15%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.image-stack__item--bottom {
    position: absolute;
    right: 226px;
}
.image-stack__item--top {
    position: absolute;
    padding-top: 20px;
    padding-right: 0%;
    right: 269px;
    width: fit-content;
    height: 490px;
}
.floatingobjects {
    left: 583px;
    position: absolute;
}

.iconone {
    margin-right: 107px;
    position: relative;
    left: -30%;
    top: -30px;
}
.rent {
    margin-right: 107px;
    width: 240px;
    object-fit: contain;
    position: relative;
    top: 76px;
    left: -249px;
}

.dot {
    position: relative;
    top: 116px;
    left: -127px;
}
.circle {
    position: relative;
    top: -130px;
    left: 211px;
}
.invest {
    margin-right: 107px;
    width: 276px;
    object-fit: contain;
    position: relative;
    top: 51px;
    right: -149px;
}

    .buildtext{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .twocolumnflex {
        margin: auto;
        flex-direction: column;
        height: fit-content;
        text-align: center;

    }
    .buildtext .investmenttext{
        text-align: center;
    }
    .bwti{
        margin-top: 0px;
        padding: 20px;
        text-align: center;
        font-size: 55px;
        line-height: 72px;
    }

    .columnone{
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 120px;
        padding-right: 120px;
        display: flex;
        align-items: center;
        margin-right: 0;
    }
    .columntwo{
        margin-left: 0;
        background-image: none;
    }
    .investbutton .signupbtn a, .investbutton, .investbutton .signupbtn{
        text-align: center;
    }
    .sectionone {
        height: 70vh;
    }
    
    .workingclass{
        margin-top: 390px;
        padding-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sidea, .sideb , .sidec{
        text-align: center;
    }
  }

  


  @media screen and (max-width:1000px) {
    .sectionone {
        height: fit-content;
    }

    .extra {

        left: 30%;
      
    }
    .bigtxt {
        color: #0C1825;
        font-size: 45px;
        font-weight: 700;
        line-height: 48px;
    }
.twocolumnflex{

    max-width: 600px;
    margin: auto;
}
    .supbutton{
        display: none;
    }
    .stillshow{
        display: flex;
    }
    .columnone{
        margin: 0;
        margin-top: 90px;
        padding: 30px !important;
    }
    .bwti {
        margin-top: 90px;
        padding: 30px;
        text-align: center;
        font-size: 55px;
        line-height: 72px;
        font-weight: 600;
    }
    .columntwo {
      padding: 0;
        background-image: none;
    }

    .image-stack{
      
        left: 26%;
        margin-top: 61px;
    }

    .image-stack__item--top {
        position: absolute;
        padding-top: 20px;
        padding-right: 25%;
        width: fit-content;
        height: 477px;
      
        right: 160px;
    }
    .floatingobjects {
        left: 70px;
        display: flex;
        flex-direction: column;
    }
    .workingclass {
        padding: 10px;
        width: 700px;
        margin: auto;
        margin-top: 453px;
        padding-top: 212px;
    }
    .buildingblock {
        margin-top: 40px;
        grid-gap: 40px;
    }
    .image-stack__item--bottom {
        position: absolute;
        right: 270px;
    }

  }

  @media screen and (max-width:900px) {
    .bwti {
        margin-top: 90px;
        padding: 20px;
    }
    .saveone{
        padding: 40px;
    }

    .featuretext{
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
font-size: 40px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;


    }
    .extra {

        left: 26%;
        margin-left: auto;
    }
    .image-stack {
        left: 14%;
    }

    .image-stack__item--top {
        right: 137px;
    }
    
    .image-stack__item--bottom {
        position: absolute;
        right: 226px;
    }
    .floatingobjects {
        left: 90px;
    }

    .twocolumnflex {
        max-width: 635px;
        margin: auto;
    }
    .workingclass{
        width: 720px;
    }
  }

  @media screen and (max-width:820px){
    .image-stack {
        left: 10%;
    }
    .image-stack__item--top {
        right: 70px;
    }
    .image-stack__item--bottom {
        position: absolute;
        right: 175px;
    }
    .floatingobjects {
        left: 181px;
    }
  } 

  @media screen and (max-width:760px) {
    .image-stack {
        left: 0%;
    }

    .marquee--vertical .boxma{
      flex-direction: column;
    }



    .som{
        font-size: 40px;
        line-height: normal;
    }
    .bigtxt {
        color: #0C1825;
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
    }
    .extra {

        left: 22%;
        margin-left: auto;
    }
    .image-stack__item--top {
        right: 9px;
    }
    .image-stack__item--bottom {
        position: absolute;
        right: 121px;
    }
    .floatingobjects {
        left: 239px;
    }

  }


  @media screen and (max-width:730px) {
    
    .bigtxt{
        text-align: center;
    }
    .columnone{
        padding: 4px !important;
    }
    
    .image-stack__item--top {
        right: 137px;
        padding: 0;
    }
    .image-stack__item--bottom {
        position: absolute;
        right: 102px;
        top: -23px;
    }
    .floatingobjects {
        left: 220px;
        top: -17px;
    }
    .workingclass{
        width: 100%;
    }


  }

  @media screen and (max-width:720px) {
    .twocolumnflex{
        width: 100%;
    }
    .floatingobjects {
        left: 254px;
        top: -10px;
    }
    .bwti {
        margin-top: 34px;
        padding: 10px;
        text-align: center;
        font-size: 35px;
        line-height: 40px;}

        .image-stack__item--bottom {
            position: absolute;
            right: 131px;
            top: -23px;
        }
        .image-stack__item--top {
            right: 168px;
            padding: 0;
        }
        .floatingobjects {
            left: 220px;
            top: -10px;
        }
    
  }


  @media screen and (max-width:670px) {
    .image-stack__item--bottom {
        position: absolute;
        right: 15%;
    }

    .testimonialbody {
      margin-top: 10px;
      font-family: inter;
      font-family: DM Sans;
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0em;
      text-align: left;
      color: #5e5b5b;
  }

    .extra {

        left: 16%;
        margin-left: auto;
    }

    .featuretext{
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
font-size: 30px;
font-weight: 700;
line-height: normal;
letter-spacing: 0em;


    }

    .image-stack__item--top {
        right: 21%;
    }    
    .floatingobjects {
        width: fit-content;
    }
    .floatingobjects {
        left: 43%;
        top: 23px;
    }

    .rent{
        width: 47%;
    }
    .invest{
        width: 50%;
    }
    
  }


  @media screen and (max-width:580px) {
    .image-stack__item--bottom {
        position: absolute;
        right: 11%;
    }
    .image-stack__item--top {
        right: 16%;
    }
    .extra {

        left: 8%;
        margin-left: auto;
    }

    .mylogo{
width: 130px;
    }
    .floatingobjects {
        left: 46%;
        top: 23px;
    }
    .iconone {
        margin-right: 107px;
        position: relative;
        left: -57%;
        top: -50px;
    }
    .rent {
        margin-right: 107px;
    
        object-fit: contain;
        position: relative;
        top: 92px;
        left: -225px;
    }
    .dot {
        position: relative;
        top: 116px;
        left: -157px;
    }
    .circle {
        position: relative;
        top: -130px;
        left: 186px;
    }


    @media screen and (max-width:480px) {
        .image-stack__item--bottom {
            width: 67%;
            object-fit: contain;
            position: absolute;
            right: 11%;
        }
        .buildtext {
          width: 50%;
          padding: 2px;
          padding-top: 20px;
          height: fit-content;
          position: sticky;
          top: 9%;
      }

        .extra {

            left: 4%;
            margin-left: auto;
        }
        .columntwo {
            margin-top: -47px;
        }
        .image-stack__item--top {
            right: 16%;
            width: 67%;
            object-fit: contain;
        }
        .floatingobjects {
          
            left: 11%;
            top: 23px;
        }
        
        .iconone {
            margin-right: 0px;
            position: relative;
            left: 0%;
            top: 2px;
        }
        .rent {
            margin-right: 107px;
            object-fit: contain;
            position: relative;
            top: 92px;
            left: -53px;
        }
        .dot {
            position: relative;
            top: 116px;
            left: -8px;
        }
        .circle {
            position: relative;
            top: -130px;
            left: 239px;
        }
  }


}


@media screen and (max-width:400px) {
    .extra {

        left: 0%;
        margin-left: auto;
    }
    .circles {
        position: absolute;
        margin-top: 106px;
        left: 3px;
    }
    svg.dots.investIcon {
        position: absolute;
        margin-top: 5px;
        left: 297px;
    }
    .accessone img {
        max-width: 190px;
        display: flex;
        margin: auto;
        object-fit: cover;
    }

    .bigtxt {
        color: #0C1825;
        font-size: 34px;
        text-align: center;
        font-weight: 700;
        line-height: normal;
    }
    
}